{
  "plugins": [
    "transform-react-jsx",
    ["babel-plugin-module-resolver", {
      "alias": {
        "app": "./src/scripts/app/",
        "data": "./src/data/",
        "lib": "./src/scripts/lib/",
        "styles": "./src/styles/",
        "assets": "./src/assets/"
      }
    }]
  ],
  "presets": [
    ["babel-preset-env", {
      "modules": false,
      "loose": true,
      "targets": {"browsers": ["last 2 versions", "> 1%"]}
    }],
    "babel-preset-react",
    "babel-preset-stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    }
  }
}
